

.title {
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
}

main {
    display: flex; 
    justify-content: space-around;
}

.fishTank {
    display: flex; 
    padding: 40px;
}

.fish {
    border: thick rgb(0, 95, 95) solid;
    padding: 20px;
    margin: 20px;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
}

img {
    max-width: 220px;
    max-height: 150px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.travelTips {
    border: thick rgb(0, 95, 95) solid;
    padding: 40px;
    margin: 20px;

}

.locations {
    border: thick rgb(0, 95, 95) solid;
    padding: 40px;
    margin: 20px;

}


aside {
    border: thick rgb(0, 95, 95) solid;
    padding: 40px;
    margin: 20px;
    background-color: rgb(190, 255, 255);

  }